# Energy A.I. Hackathon 2025 Workflow - [Your Team Name]
## Authors: [Your Names], [Your Departments and Schools]
## The University of Texas at Austin, Austin, Texas, USA

## Executive Summary
### Only 4 short sentences.

### What is the problem?
### What did your team do to address the problem?
### What did your team learn?
### What does your team recommend going forward?

## Workflow Goal

## Workflow Goal

### 1. Data Analysis - basic data checking and visualization
### 2. Feature Selection - mutual information-based approach with minimum redundancy, maximum relevance score
### 3. Machine Learning Model #1 - Predict feature

## Import Packages

In [21]:
import numpy as np                                      # model arrays
import pandas as pd                                     # DataFrames
import matplotlib.pyplot as plt                         # building plots
import os

### Load Data

In [23]:
data = pd.read_csv('HackathonData2025.csv')

In [24]:
data.describe()

,# Stages,# Clusters,Estimated Average Stage Time,Actual Average Stage Time,Ambient Temperature,Grid,Diesel,CNG
count,1082.000000,1082.000000,914.000000,9.110000e+02,920.000000,1.082000e+03,1082.000000,1082.000000
mean,57.371534,400.095194,96.762691,-7.447010e+03,66.292717,3.396399e+04,57133.506470,7365.848429
std,13.401390,98.232442,21.529890,2.280547e+05,15.523172,2.312528e+05,50775.907265,7598.273485
min,31.000000,177.000000,47.100000,-6.883214e+06,35.900000,0.000000e+00,0.000000,0.000000
25%,50.000000,325.000000,76.200000,9.180000e+01,51.400000,0.000000e+00,0.000000,0.000000
50%,51.000000,378.500000,96.000000,1.082000e+02,68.500000,0.000000e+00,51908.500000,7869.000000
75%,68.000000,480.750000,106.700000,1.229000e+02,79.800000,0.000000e+00,94557.750000,13522.250000
max,101.000000,734.000000,178.700000,1.980000e+02,90.100000,2.591226e+06,214605.000000,30975.000000

### Detect Missing Data

In [29]:
# Detect missing data
missing_data_summary = data.isnull().sum()

# Display columns with missing values
print("Columns with missing data:")
print(missing_data_summary[missing_data_summary > 0])

# Optional: Display the percentage of missing data
missing_percentage = (missing_data_summary / len(data)) * 100
print("\nPercentage of missing data:")
print(missing_percentage[missing_percentage > 0])

Columns with missing data:
Estimated Average Stage Time    168
Actual Average Stage Time       171
Fleet Type                        9
Ambient Temperature             162
dtype: int64

Percentage of missing data:
Estimated Average Stage Time    15.526802
Actual Average Stage Time       15.804067
Fleet Type                       0.831793
Ambient Temperature             14.972274
dtype: float64

### Deal with Missing Data

#### Model 1: Remove all Missing data

In [33]:
data_remove = data.dropna()

In [35]:
data_remove

,Well Name,# Stages,# Clusters,Estimated Average Stage Time,Actual Average Stage Time,Frac Fleet,Fleet Type,Target Formation,Field Area,Ambient Temperature,Grid,Diesel,CNG,Fuel Type,Sand Provider
0,Cameron 1H,68,480,85.7,120.5,Fleet 4,Zipper,Pecan Tree,West Campus,35.9,0,0,22717,Turbine,SAND_C_X
1,Cameron 2H,68,431,85.7,117.6,Fleet 4,Zipper,Pecan Tree,West Campus,35.9,0,0,22717,Turbine,SAND_C_R
2,Tipton 1H,76,507,76.2,87.0,Fleet 8,Zipper,Bluebonnet,Gregory Gym,38.1,0,65098,14690,DGB,SAND_C_R
3,Tipton 2H,76,565,76.2,87.3,Fleet 8,Zipper,Lone Star,Gregory Gym,38.1,0,64526,14644,DGB,SAND_C_A
4,Tipton 3H,76,522,76.2,90.8,Fleet 8,Zipper,Longhorn,Gregory Gym,38.1,0,67659,14975,DGB,SAND_C_X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,Hancock 4H,50,327,120.0,147.2,Fleet 9,Simul,Longhorn,Gregory Gym,89.9,0,37412,7911,DGB,SAND_C_A
1076,Hancock 6H,50,370,120.0,132.5,Fleet 9,Simul,Longhorn,Gregory Gym,89.9,0,32386,8174,DGB,SAND_C_A
1077,Knox 1H,47,322,106.7,118.2,Fleet 14,Simul,Monarch Butterfly,Moody Center,90.1,0,71241,0,Diesel,SAND_C_X
1078,Knox 2H,42,312,106.7,118.1,Fleet 14,Simul,Monarch Butterfly,Moody Center,90.1,0,65006,0,Diesel,SAND_C_R
1080,Knox 4H,47,322,106.7,117.7,Fleet 14,Simul,Monarch Butterfly,Moody Center,90.1,0,76399,0,Diesel,SAND_C_A

#### More than 300 rows are taken out with Nans, it might not proper due to many info missing

#### Model 2: Filling missing data with mean

In [39]:
# Impute missing values in numerical columns with the mean
data['Estimated Average Stage Time'].fillna(data['Estimated Average Stage Time'].mean(), inplace=True)
data['Actual Average Stage Time'].fillna(data['Actual Average Stage Time'].mean(), inplace=True)
data['Ambient Temperature'].fillna(data['Ambient Temperature'].mean(), inplace=True)

# For categorical columns, you can fill with mode (if needed)
data['Fleet Type'].fillna(data['Fleet Type'].mode()[0], inplace=True)

# Check if there are any remaining missing values
print(data.isnull().sum())

Well Name                       0
# Stages                        0
# Clusters                      0
Estimated Average Stage Time    0
Actual Average Stage Time       0
Frac Fleet                      0
Fleet Type                      0
Target Formation                0
Field Area                      0
Ambient Temperature             0
Grid                            0
Diesel                          0
CNG                             0
Fuel Type                       0
Sand Provider                   0
dtype: int64

C:\Users\halos\AppData\Local\Temp\ipykernel_21612\938555970.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Estimated Average Stage Time'].fillna(data['Estimated Average Stage Time'].mean(), inplace=True)
C:\Users\halos\AppData\Local\Temp\ipykernel_21612\938555970.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Actual Average Stage Time'].fillna(data['Actual Average Stage Time'].mean(), inplace=True)
C:\Users\halos\AppData\Local\Temp\ipykernel_21612\938555970.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Ambient Temperature'].fillna(data['Ambient Temperature'].mean(), inplace=True)
C:\Users\halos\AppData\Local\Temp\ipykernel_21612\938555970.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Fleet Type'].fillna(data['Fleet Type'].mode()[0], inplace=True)

#### One-hot Encoding (categorical variable has no inherent order)

In [42]:
# Specify the columns to encode
columns_to_encode = ['Frac Fleet', 'Target Formation', 'Field Area', 'Fuel Type', 'Sand Provider ','Fleet Type']

# Apply one-hot encoding
data_encoded = pd.get_dummies(data, columns=columns_to_encode, drop_first=True)

In [44]:
data_encoded = data_encoded.drop('Well Name', axis=1)

In [ ]:
# Specify the columns to encode
columns_to_encode = ['Frac Fleet', 'Target Formation', 'Field Area', 'Fuel Type', 'Sand Provider ','Fleet Type']

# Apply one-hot encoding
data_encoded_2 = pd.get_dummies(data_remove, columns=columns_to_encode, drop_first=True)

In [ ]:
data_encoded_2 = data_encoded_2.drop('Well Name', axis=1)

#### Isolation Forest to do Outlier Detection

In [ ]:
from sklearn.ensemble import IsolationForest

In [ ]:
isolation_forest = IsolationForest(contamination=0.05)  

# Fit the model to your data
isolation_forest.fit(data_encoded)

In [ ]:
# Predict -1 for outliers, 1 for inliers
predictions = isolation_forest.predict(data_encoded)

# Filter inliers (1 indicates inlier)
inliers = data_encoded[predictions == 1]

In [ ]:
isolation_forest_2 = IsolationForest(contamination=0.05)  

# Fit the model to your data
isolation_forest_2.fit(data_encoded_2)

# Predict -1 for outliers, 1 for inliers
predictions_2 = isolation_forest_2.predict(data_encoded_2)

# Filter inliers (1 indicates inlier)
inliers_2 = data_encoded_2[predictions_2 == 1]

#### Scaling

#### Model 1: RobustScaler with imputing missing data

In [ ]:
from sklearn.preprocessing import RobustScaler, MinMaxScaler

In [ ]:
# Initialize the RobustScaler
robust_scaler = RobustScaler()

# Fit and transform the inliers with RobustScaler
inliers_robust_scaled = robust_scaler.fit_transform(inliers)

In [ ]:
inliers_robust_scaled_df = pd.DataFrame(inliers_robust_scaled, columns=inliers.columns)

In [ ]:
inliers_robust_scaled_df.to_csv('inliers_robust_scaled_impute.csv', index=False)

#### Model 2: MinMaxScaler with imputing missing data

In [ ]:
# Initialize the MinMaxScaler
minmax_scaler = MinMaxScaler()

# Fit and transform the inliers with MinMaxScaler
inliers_minmax_scaled = minmax_scaler.fit_transform(inliers)

In [ ]:
inliers_minmax_scaled_df = pd.DataFrame(inliers_minmax_scaled, columns=inliers.columns)

In [ ]:
inliers_minmax_scaled_df.to_csv('inliers_minmax_scaled_impute.csv', index=False)

#### Model 3: RobustScaler with deleting missing data

In [ ]:
# Initialize the RobustScaler
robust_scaler = RobustScaler()

# Fit and transform the inliers with RobustScaler
inliers_robust_scaled_2 = robust_scaler.fit_transform(inliers_2)

In [ ]:
inliers_robust_scaled_df_2 = pd.DataFrame(inliers_robust_scaled_2, columns=inliers_2.columns)

In [ ]:
inliers_robust_scaled_df_2.to_csv('inliers_robust_scaled_delete.csv', index=False)

#### Model 4: RobustScaler with deleting missing data

In [ ]:
# Initialize the MinMaxScaler
minmax_scaler = MinMaxScaler()

# Fit and transform the inliers with MinMaxScaler
inliers_minmax_scaled_2 = minmax_scaler.fit_transform(inliers_2)

In [ ]:
inliers_minmax_scaled_df_2 = pd.DataFrame(inliers_minmax_scaled_2, columns=inliers_2.columns)

In [ ]:
inliers_minmax_scaled_df_2.to_csv('inliers_minmax_scaled_delete.csv', index=False)